$icon-font-path: '../fonts/';

// Box sizing partial styles:
// Apply a natural box layout model to all elements

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Custom Variables

$primary-color: #D1F2A5;
$primary-color-medium: #77a23c;
$primary-color-dark: #2b4b29;
$secondary-color: #EFFAB4;
$third-color: #FFC48C;
$accent-color: #F56991;

body {
  color: $primary-color-dark;
}

a {
  color: $primary-color-medium;

  &:hover, &:active {
    color: $primary-color-medium;
  }
}

.container {
  max-width: 800px;
}

.page-header h1 {
  background-color: $primary-color;
  padding: 20px;

  small {
    color: $primary-color-medium;
  }
}

.quiz-box {
  margin-bottom: 280px;
}

.question {
  margin-bottom: 10px;
}

.answer-box {
  background-color: $primary-color;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid transparent;

  &.selected {
    background-color: $accent-color;
    border: 1px solid red;

    .answer-tick-box {
      background: #000;
    }
  }

  &.dimmed {
    opacity: 0.5;
  }

  &:hover {
    background-color: $accent-color;
    .answer-caption {
      color: white;
    }
  }
}

.answer-image {
  margin-bottom: 10px;
}

.answer-tick-box {
  width: 20px;
  height: 20px;
  display: none;
  background: #aaa;
}

.answer-caption {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.img-responsive {
  width: 100%;
}

.page-header {
  margin-top: 0;
}

.solution {
  margin-top: 1500px;

  h1 {
    font-size: 40px;
  }
}
